# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
TEMP/
Library/
Assets/HoloToolkit/
Assets/Plugins
Assets/Vuforia

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Assets/HoloToolkit.meta
Assets/license_3rdpartynotice.txt
Assets/license_3rdpartynotice.txt.meta
Assets/link.xml
Assets/link.xml.meta
Assets/Plugins.meta
Assets/readme_SDK.txt
Assets/readme_SDK.txt.meta

Assets/Resources.meta
Assets/Vuforia.meta
Assets/Resources/VuforiaConfiguration.asset
Assets/Resources/VuforiaConfiguration.asset.meta
Assets/Editor.meta
Assets/Editor/Vuforia.meta
Assets/Editor/Vuforia/VuMark1.meta
Assets/Editor/Vuforia/VuMark1/authoringinfo.xml
Assets/Editor/Vuforia/VuMark1/authoringinfo.xml.meta
Assets/Editor/Vuforia/VuMark1/e93f796216394ade84239f6f1b29ea96_scaled.png
Assets/Editor/Vuforia/VuMark1/e93f796216394ade84239f6f1b29ea96_scaled.png.meta
Assets/StreamingAssets.meta
Assets/StreamingAssets/Vuforia.meta
Assets/StreamingAssets/Vuforia/VuMark1.xml.meta
Assets/StreamingAssets/Vuforia/VuMark1.xml
Assets/StreamingAssets/Vuforia/VuMark1.dat.meta
Assets/StreamingAssets/Vuforia/VuMark1.dat
.vs/HololensDataSharing/v15/.suo
